/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  background-color: #cde8ff;
  font-family: "Poppins", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242021;
}

/* Product Container */
.product-container {
  display: flex;
  width: 50rem;
}

/* Product Images */
.product-images {
  background-color: #242021;
  padding-top: 5rem;
  width: 50%;
  box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.25);
  position: relative;
}

.image-selectors {
  position: absolute;
  display: flex;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
}

.image-selectors button {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fefefe;
}

.image-selectors :nth-child(1) {
  background-color: rgb(71, 64, 208);
}

/* Product Content */
.product-content {
  background-color: #fefefe;
  width: 50%;
  margin-block: 1rem;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.25);
}

.product-content h1 {
  font-size: 2.5rem;
}

.product-content p {
  color: #594e52;
}

/* Price */
.price {
  font-size: 2.5rem;
  opacity: 0.75;
  font-weight: 600;
}

.product-content .discount {
  color: #0cbb7f;
  font-weight: 600;
}

/* Sizes */
.sizes {
  display: flex;
  gap: 4rem;
}

.size-choices {
  display: flex;
  gap: 1rem;
}

.sizes button {
  background-color: transparent;
  border: none;
  color: #594e52;
  cursor: pointer;
}

/* Colors */
.colors {
  display: flex;
  align-items: center;
  gap: 3.05rem;
  margin-block: 0.5rem;
}

.color-choices {
  display: flex;
  gap: 0.71rem;
}

.color-choices button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.color-choices :nth-child(1) {
  background-color: red;
}

.color-choices :nth-child(2) {
  background-color: #0cbb7f;
}

.color-choices :nth-child(3) {
  background-color: rgb(71, 64, 208);
}

.color-choices :nth-child(4) {
  background-color: pink;
}
/* Quantity */
.quantity {
  display: flex;
  gap: 1.4rem;
}

.quantity input {
  border: none;
  outline: none;
  background-color: #dbdbdb;
  width: 4rem;
  border-radius: 5rem;
  padding: 0.25rem 0.75rem;
}

/* Buy Now */
.buy-now {
  background-color: rgb(71, 64, 208);
  border: none;
  color: #fefefe;
  padding-block: 0.75rem;
  border-radius: 5rem;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(71, 64, 208, 0.75);
}

/* Media Query */
@media screen and (max-width: 52rem) {
  .product-container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .product-images {
    width: 100%;
    height: 100vh;
    box-shadow: none;
    overflow: hidden;
  }

  .product-content {
    width: 100%;
    height: 100vh;
    margin-block: 0;
    align-items: center;
    text-align: center;
    box-shadow: none;
  }

  .product-images img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 32.5rem;
  }

  .buy-now {
    width: 15rem;
  }
}
